body{
	margin: 0;
	padding: 0;
	width: 100%;
}

.content{ margin: 0 auto; width: 800px; }

#slide1, #slide2{ width: 100%; }

#slide1{
    background:url('../images/silho.jpg') 50% 0 no-repeat fixed;
	color: #fff;
	height: 400px;
	margin: 0;
	padding: 0px 0 260px 0;
	background-size: cover;
}

#slide2{
    background:url('../images/city.jpg') 50% 0 no-repeat fixed;    
	background-color: #fff;
	color: #333333;
	height: 400px;
	margin: 0 auto;
	overflow: hidden;
	padding: 200px 0;
}

#slide3{
	background: url(../images/green_grass.jpg) 50% 0 no-repeat fixed;
	//color: #fff;
	height: 800px;
	padding: 170px 0 0 0;	
	background-size: cover;
}

#slide4{
	background: url(../images/bg-thx.jpg) 50% 0 no-repeat fixed;
	height: 200px;
	margin: 0 auto;
	padding: 250px 0;
	color: #fff;
	background-size: cover;
}

#audio{
    width:1000px;
    margin: auto;
    
}
#audio-left{
    background:#444;
    width:450px;
    color:#DDD;
    padding:30px;
    float:left;
    margin-right:100px;
}
#music{
    float:left;
    position: relative;
    margin-top:200px;
}
#artikel-video{
    background:#444;
    width:250px;
    color:#DDD;
    padding:30px;
    float:left;
    margin-right:100px;
    font:13px Verdana;
}
#video{
    width:1000px;
    margin: auto;
}

#slide1 header{
    background:url(../images/logo.png) top no-repeat fixed;
}
#slide1 header img{
	display:block;
	margin:0px auto 0px auto;
	padding:200px 0 221px 0;
}
#slide4 header img{
    display:block;
	margin:0px auto 0px auto;
	padding:100px 0 221px 0;
}
#audio-left p, ol{
    font:13px Verdana;
}
#audio-left h1{
    font-family: forte;
    font-size:40pt;
    margin: 0;
    color:white;
}
#audio-left li{
    margin:0;
    padding-left:0;
    
}
#video h1{
    font-family: forte;
    font-size:40pt;
    color:white;
    text-shadow: -1px -1px #000000;
    
}