body{
    background:gray;
    font-family: Tahoma;
    font-size:10pt;
    background: #99a1ff; /* Old browsers */
    background: #99a1ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #99a1ff 0%, #b24986 30%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#99a1ff), color-stop(30%,#b24986)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #99a1ff 0%,#b24986 30%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #99a1ff 0%,#b24986 30%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #99a1ff 0%,#b24986 30%); /* IE10+ */
    background: linear-gradient(to bottom,  #99a1ff 0%,#b24986 30%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99a1ff', endColorstr='#b24986',GradientType=0 ); /* IE6-9 */

}

.clear{
    clear: both;
}
#content{
    margin: auto;
    width:910px;
    height:100%;
    text-align:center;
}
#header{
    text-align:left;
    margin:0px 0;    
}
#header h1{
    color:red;
    text-shadow: 1px 1px 5px black;
}

#header>h3{
    color:white;
    text-shadow: -1px -1px 3px black;
}
#menu{
    width:auto;
    background: #cc0000; /* Old browsers */
    background: -moz-linear-gradient(top,  #cc0000 0%, #cc2e2e 53%, #7f0000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc0000), color-stop(53%,#cc2e2e), color-stop(100%,#7f0000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cc0000 0%,#cc2e2e 53%,#7f0000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cc0000 0%,#cc2e2e 53%,#7f0000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cc0000 0%,#cc2e2e 53%,#7f0000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #cc0000 0%,#cc2e2e 53%,#7f0000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#7f0000',GradientType=0 ); /* IE6-9 */

    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}
#article{
    margin-right:50px;
    float:left;
    //border:1px solid black;
}
.article-content{
    //border: 1px solid black; 
    width:550px;
    padding:20px;
    text-align:justify;
    margin-bottom:30px;
    background: #DDD;
    display:block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow:0px 0px 10px #EEE; 
}
.title{
    background:green;
    color:white;
    margin:0;
    margin-bottom: 10px;
    display: block;
    //float:left;
    vertical-align:middle;
    //padding:8px 0;
    width:100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    clear: both;
}
.left-title{
    background:gray;
    //width:50px;
    padding:8px 0;
    float:left;
    border-right: 1px solid #333;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
    margin-right: 10px;
}
.title h5{
    //width:30px;
    height:30px;
    padding-left:5px;
    margin: 0;
    float:left;
    
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}
.title h6{
    float:left;
    margin:0;
    padding-right:10px;
    text-align:center;
}
.title h2{
    float:left;
    margin:0;
    padding-right:10px;
    height:46px;
    line-height:46px;
}
.title h4{
    float:right;
    margin:0;
    background:blue;
    width:60px;
    height:46px;
    line-height:46px;
    text-align:center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.article-info{
    float:left;
}
#article-info p{
    margin:0;
}
.whitebox{
    width:10px;
    height:100%;
    float:left;
    background:#DDD;
    margin:0;
    -webkit-border-radius:  0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    margin-right:10px;
}
.cont{
    float:right;
    background:red;
    color:white;
    padding-right: 10px;
    height:30px;
    line-height:30px;
    width:130px;
    text-align:right;
    -webkit-border-radius:  0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    -webkit-transition:width 1s; /* For Safari 3.1 to 6.0 */
    transition:width 1s;
}
.cont:hover{
    width: 120px;
    
}
.cont a{
    color:white;
    text-decoration: none;
}
.tag-section{
    padding-top: 5px;
}
.tag{
    -webkit-transition:background 1s, width 1s, color 1s; /* For Safari 3.1 to 6.0 */
    transition:background 1s, width 1s, color 1s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:5px;
    text-decoration:none;
    color:#B24986;
}
.tag:hover{
    background: #B24986;
    color:white;
}

#sidebar{
    //border: 1px solid black; 
    width:230px; 
    float:right; 
    background: #DDD;
    padding:20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow:0px 0px 10px #EEE; 
}
#sidebar h3{
    background:green;
    color:white;
    padding:5px;
    padding-left:15px;
    font-size:15px;
    margin:0;
    margin-bottom: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#footer, #mid_content{
    width: 100%;
    float:left;
    //border: 1px solid black;
    text-align:left;
}
#footer h5{
    background:green;
    color:white;
    padding:5px;
    padding-left:15px;
    font-size:15px;
    margin:0;
    margin-bottom: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#popular, #comments{
    width: 230px;
    float:left;
    margin-right:50px;
    background: #DDD;
}
#about{
    width: 230px;
    float:right;
    background: #DDD;
}
#phone{
    width:100%;
}

#popular a, #phone a{
    width:auto;
    display:block;
    text-decoration:none;
    color:#B24986;
    -webkit-transition:margin 1s; /* For Safari 3.1 to 6.0 */
    transition:margin 1s;
}
#popular a:visited, #phone a:visited{
    color:#B24986;
}
#popular a:hover, #phone a:hover{
    margin-left:10px;
}
#popular p,#phone p{
    width:100%;
    border-bottom: 1px solid #99A1FF;
    margin:0;
    margin-top:5px;
    color:#B24986;
}
#comments section{
    width:100%;
    border-bottom: 1px solid #99A1FF;
    margin:0;
    margin-top:5px;
    font-size: 12px;
    float:left;
}
#comments a{
    float: left;
    text-decoration:none;
    color:#B24986;
    margin-bottom: 5px;
}
#comments a:visited{
    color:#B24986;
}
#comments a:hover{
    float: left;
    text-decoration: underline;
}
#comments span{
    float: right;
}
#copyright{
    width:100%;
    float:left;
    text-align:center;
    height:50px;
}
.white-box{
    
    padding:20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow:0px 0px 10px #EEE; 
}

#header, #menu, #footer{
    margin-bottom:30px;
}

.contact{
    background:white;
    color:black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width:100%;
    height:30px;
    line-height:30px;
    margin-bottom: 10px;
}
#twitter{
    float: left; 
    background:#00CCFF;
     color:white;
     padding:0 5px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 10px;
     width:50px;
     text-align:center;
     height:30px;
     margin-right:10px;
}
#rss{
    float: left; 
    background:#FF9933;
     color:white;
     padding:0 5px;
     height:30px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 10px;
     width:50px;
     text-align:center;
     margin-right:10px;
}
#social, #phone{
    margin-bottom: 10px;
    float: left;
    width:100%;
}
.link1{
    text-decoration:none;
    color: #B24986;
}
.link1:visited{
    color: #B24986;
}
.link1:hover{
    text-decoration: underline;
}
#tooltip header{
    padding:5px;
    background: green;
    float:left;
    color:white;
    font-style: italic;
    -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 10px;
}
#bottom{
    width:100%;
    float:left;
}
#tooltip footer{
    margin-left: 40px;
    background: green;
    width:40px;
    height:30px;
    float:left;
    -webkit-border-radius:0 0 50px 0;
     -moz-border-radius: 0 0 50px 0;
     border-radius: 0 0 50px 0;
}
#tooltip footer nav{
    width:20px;
    height:100%;
    background: #DDD;
    //border: 1px solid black;
    -webkit-border-radius:0 0 50px 0;
     -moz-border-radius: 0 0 50px 0;
     border-radius: 0 0 50px 0;
}

#wgs{
    color: #B24986;
}
#tooltip{
    margin-top:280px;
    transform: scale(0.9);
    -webkit-transition: transform 1s; 
    -moz-transition: transform 1s; 
    transition:transform 1s;
}
#tooltip:hover{
    transform: scale(1);
}

#menu a { 
    display:block; 
    color: #fff; 
    text-decoration:none; 
} 
/*Mengurutkan menu menjadi sejajar kesamping*/
#menu li,
#menu li li { 
    position: relative; 
    display:inline-block; 
    width: 110px; 
    padding: 6px 15px; 
    //background: red; 
} 
#menu li li { background: transparent none; } 
#menu li li a { color: #fff; } 
#menu li li:hover { 
    background: #7f0000; /* Old browsers */
    background: -moz-linear-gradient(top,  #7f0000 0%, #cc2e2e 53%, #cc0000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7f0000), color-stop(53%,#cc2e2e), color-stop(100%,#cc0000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7f0000 0%,#cc2e2e 53%,#cc0000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7f0000 0%,#cc2e2e 53%,#cc0000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7f0000 0%,#cc2e2e 53%,#cc0000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #7f0000 0%,#cc2e2e 53%,#cc0000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f0000', endColorstr='#cc0000',GradientType=0 ); /* IE6-9 */

    -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 10px;
} 

#menu li:hover {
    background: #7f0000; /* Old browsers */
    background: -moz-linear-gradient(top,  #7f0000 0%, #cc2e2e 53%, #cc0000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7f0000), color-stop(53%,#cc2e2e), color-stop(100%,#cc0000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7f0000 0%,#cc2e2e 53%,#cc0000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7f0000 0%,#cc2e2e 53%,#cc0000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7f0000 0%,#cc2e2e 53%,#cc0000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #7f0000 0%,#cc2e2e 53%,#cc0000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f0000', endColorstr='#cc0000',GradientType=0 ); /* IE6-9 */

} 
/* Animasi untuk sub drop down menu*/
#menu ul { 
    position: absolute; 
    top: 2em; left:0; 
    max-height:0em; 
    margin:0; padding:0;  
    overflow:hidden; 
    background: #cc0000; /* Old browsers */
    background: -moz-linear-gradient(top,  #cc0000 0%, #cc2e2e 53%, #7f0000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc0000), color-stop(53%,#cc2e2e), color-stop(100%,#7f0000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cc0000 0%,#cc2e2e 53%,#7f0000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cc0000 0%,#cc2e2e 53%,#7f0000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cc0000 0%,#cc2e2e 53%,#7f0000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #cc0000 0%,#cc2e2e 53%,#7f0000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#7f0000',GradientType=0 ); /* IE6-9 */

    -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 10px;
    transition: 1s; 
} 
/* Untuk memunculkan sub drop down*/
#menu li:hover ul { 
    max-height:13em; 
} 