body {
  text-align: center;
  font-family:sans-serif;
}

.kotak {
  text-align: left;
  background: #eee;
  margin-bottom: 20px;
}
article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }


.clear{
    clear:both;
}
.container_12{
    text-align: left;
}
.bold{
    font-weight: bold;
}
#frm{
    margin-top:10px;
}
.jarak{
    margin-left:20px;
}
.submit{
    background: #3aa1da; /* Old browsers */
    background: -moz-linear-gradient(top, #3aa1da 0%, #6cc5ea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3aa1da), color-stop(100%,#6cc5ea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3aa1da 0%,#6cc5ea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3aa1da 0%,#6cc5ea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3aa1da 0%,#6cc5ea 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3aa1da 0%,#6cc5ea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3aa1da', endColorstr='#6cc5ea',GradientType=0 ); /* IE6-9 */
    color:white;
    border:1px solid #a7d8f0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    behavior: url(PIE.htc); position:relative;
    zoom:1;
    cursor: pointer;
    
}
#forgot-pass{
    color:#00b8e5;
    font-weight:bold;
}
#forgot-pass:hover{
    color:#00b8e5;
}
.small{
    text-decoration: none;
    color:#0ebcb7;
    font-weight:bold;
    font-size:8pt;
}
.kiri{
    border-right: 1px solid #0ebcb7 ;
    padding-right: 5px;
}
.kanan{
    padding-left: 5px;
}
a.small:hover{
    color:#0ebcb7;
}

#register{
    background: #3aa1da;color:white; 
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    zoom:1;
    behavior: url(/PIE.htc); position:relative;
    margin-top:5px;
}
.reg{
    padding:5px 10px 10px 10px;
}
.reg h3, p{
    margin:0;
}
.reg a{
    text-decoration:none;
    color:black;
    font-size:13pt;
    font-weight:bold;
    border-bottom:2px solid #e9cd5e;
    margin: 5px 0;
    padding:5px 10px;
    float:left;
    
    background: #ffd118; /* Old browsers */
    background: -moz-linear-gradient(top, #ffd118 0%, #feea98 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd118), color-stop(100%,#feea98)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffd118 0%,#feea98 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffd118 0%,#feea98 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffd118 0%,#feea98 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffd118 0%,#feea98 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd118', endColorstr='#feea98',GradientType=0 ); /* IE6-9 */
    zoom:1;
    behavior: url(/PIE.htc); position:relative;
}

.form-error{
    margin-top:10px;    
    padding:5px 0;
    background: #ffe16a; 
    -webkit-border-radius: 5px 5px 0 0; 
    -moz-border-radius: 5px 5px 0 0; 
    border-radius: 5px 5px 0 0; 
    background: -moz-linear-gradient(top,  #ffe16a 0%, #ffd21d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe16a), color-stop(100%,#ffd21d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffe16a 0%,#ffd21d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffe16a 0%,#ffd21d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffe16a 0%,#ffd21d 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffe16a 0%,#ffd21d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe16a', endColorstr='#ffd21d',GradientType=0 ); /* IE6-9 */
    
    behavior: url(/PIE.htc); position:relative;
}
.form-error label{
    margin-left: 10px;
}
.navigation{
    width: 100%; 
    background: #62bde6; 
    background: -moz-linear-gradient(top,  #62bde6 0%, #3ba2be 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#62bde6), color-stop(100%,#3ba2be)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #62bde6 0%,#3ba2be 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #62bde6 0%,#3ba2be 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #62bde6 0%,#3ba2be 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #62bde6 0%,#3ba2be 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62bde6', endColorstr='#3ba2be',GradientType=0 ); /* IE6-9 */
    zoom:1;
    behavior: url(/PIE.htc); position:relative;
}
.navigation nav{
    margin:0;
    padding:10px 0;
}
.navigation li{
    list-style: none;
    float:left;
    display: inline;
}
.navigation li a{
    text-decoration: none;
    font-size:12pt;
}

a.left{
    color:white;
}
a.right{
    border-left: 3px dotted white;
    padding-left: 25px;
    color:black;
}
.navigation li a:hover{
    color:white;
}
#content{
    background-image: url('../images/gradient.png');
    background-repeat: repeat-x;    
}
#content .container_12{
    background: url('../images/bg.png');
    background-repeat: no-repeat;
}
.mid{
    margin-top:20px;
    margin-bottom: 20px;
}
.mid h1{
    margin:0;
}
.mid ul{
    margin:10px;
}
.mid ul li{
    margin-left:0px;
}
.mid ul li.space{
    margin-bottom:20px;
}
#socmed a{
    float: right;
    border: 1px solid white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius:5px;
    zoom:1;
    behavior: url(/PIE.htc); position:relative;
}
.twit{
    background: url('../images/button.png');
    background-position: -0px -36px; 
    width: 140px; 
    height: 35px;
    
}
.fb{
    background: url('../images/button.png');
    background-position: -0px -0px; 
    width: 140px; 
    height: 35px;
}
#pengumuman{
    border:2px solid black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius:5px;
    zoom:1;
    behavior: url(/PIE.htc); position:relative;
}
#pengumuman header{
    margin: 0;
    color:white;
    font-size:16pt;
    padding:10px;
    font-weight: inherit;
    background: #a5a5a5; /* Old browsers */
    background: -moz-linear-gradient(top, #a5a5a5 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5a5a5), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #a5a5a5 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #a5a5a5 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #a5a5a5 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #a5a5a5 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5a5a5', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    zoom:1;
    behavior: url(/PIE.htc); position:relative;
}
#list-pengumuman{
    padding:5px;
}
#new{
    background-position: -165px -0px; 
    width: 28px; 
    height: 20px;
    float: right;
    position:relative;
    right: -25px;
    top: -5px;
}
#list-pengumuman p{
    margin:0;
    padding: 5px 5px 5px 5px;
}
#list-pengumuman p.dot{
    border-top: 1px dotted black;
}
#list-pengumuman p a{
    margin-left: 10px;
    margin-right:0px;
    color:#0093d7;
    font-size:9pt;
}
#list-pengumuman p a:hover{
    color:#0093d7;
}
#pengumuman footer{
    padding:10px 0;
    background: #464646; /* Old browsers */
    background: -moz-linear-gradient(top,  #464646 0%, #464646 51%, #000000 52%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#464646), color-stop(51%,#464646), color-stop(52%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #464646 0%,#464646 51%,#000000 52%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #464646 0%,#464646 51%,#000000 52%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #464646 0%,#464646 51%,#000000 52%); /* IE10+ */
    background: linear-gradient(to bottom,  #464646 0%,#464646 51%,#000000 52%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464646', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    width:100%;
    zoom:1;
    behavior: url(/PIE.htc); position:relative;
}
#pengumuman footer a{
    text-decoration: none;
    color:#199fdc;
    padding:5px 10px ;
    margin-left:90px;
    font-size:11pt;
    background:white;
    background: #dfdfdf; /* Old browsers */
    background: -moz-linear-gradient(top,  #dfdfdf 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfdfdf), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #dfdfdf 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #dfdfdf 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #dfdfdf 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #dfdfdf 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    zoom:1;
    behavior: url(/PIE.htc); position:relative;
}
.bottom{
    margin-top: 10px;
    margin-bottom:10px;
    
}
.bottom .grid_4{
    width:296px;
    box-shadow: inset -0 -0 5px #90d9f2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius:5px;
    border:2px solid #90d9f2;
    zoom:1;
    behavior: url(/PIE.htc); position:relative;
}
.bottom h2{
    margin:0;
    float:left;
    width:100%;
    border-bottom: 1px solid #888;
    padding-bottom: 5px;
    color:#0093d7;
    font-size:14pt;
    height:35px;
    line-height:35px;
}
.content{
    margin:10px;
}
.icon{
    background: url('../images/icon.png');
}
#toa{
    background-position: -0px -0px;
    width: 35px;
    height: 35px;
    float:left;
    margin-right:10px;
}
#caker{
    background-position: -36px -0px; 
    width: 50px; 
    height: 37px;
    float:right;
}
#isi{
    background-position: -87px -0px; 
    width: 26px; 
    height: 36px;
    float:right;
}
#janji{
    background-position: -114px -0px; 
    width: 50px; 
    height: 25px;
    float:right;
    margin-top:5px;

}
.content p{
    margin:5px 0;
    float:left;
    color:#464646;
}
footer{
    background: #464646; 
    width:100%; 
    color:white;
}

.footer{
    font-size:9pt;
    padding:10px 0;
}
.footer article{
    margin:auto;
    text-align:center;
}