#content{
    width:950px;
    height:100%;
    padding:10px;
    margin:auto;
    text-align:center;
}
#langCurr{
    background: #333;
    float:right;
    padding:15px;
    padding-left:30px;
    padding-right:30px;
}
#logo{
    float: left;
}
#menu{
    float:left;
    width:920px;
    border: 3px solid #EEE;
    padding:10px;
    padding-top:15px;
    padding-bottom:15px;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #e6e6e6) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #e6e6e6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6');
	background-color:#ffffff;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
}
#top-menu{
    list-style-type:none;
    margin:0;
    padding:0;
    text-align:center;
}
ul#top-menu a{
    display:block;
    width:130px;
    height: 30px;
    line-height:30px;
    text-decoration: none;
    color:black;
    border-right: 1px solid #DDD;
}
ul#top-menu a:hover{
    color:#00CCEE;
}
ul#top-menu li{
    display:inline;
    float:left;
}

#search{
    margin-left: 50px;
}

#left-content{
    float:left;
    width:27%;
    text-align: left;
}
#login-content{
    border: 3px solid #EEE;
    padding: 10px;
}
#right-content{
    float:left;
    width:68%;
    text-align: left;
    padding:20px;
}
#footer-menu{
    float:left;
    width:100%;
    padding:10px;
    padding-top:15px;
    padding-bottom:15px;
    color: white;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a3a3a3), color-stop(1, #4d4d4d) );
	background:-moz-linear-gradient( center top, #a3a3a3 5%, #4d4d4d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a3a3a3', endColorstr='#4d4d4d');
	background-color:#a3a3a3;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
}
#copyright{
    float:left;
    width:100%;
    color:#00CCEE;

}
#shop, #featured-prod{
    color:#00ccee;
}
.product{
    list-style: none;
    padding-left:10px;
    
}

.product a:visited{
    color:blue;
}
.product a:hover{
    color:red;
}
#category ul{
    padding:0;
    list-style-type:triangle;
}
ul.product li{
    border-bottom: 3px dotted #555;
    padding-left:0px;
    margin:0;
    list-style-position: inside;
}
li.top{
	border-top: 3px dotted #555;
}
ul.product li a{
    text-decoration:none;
    padding-left:20px;
}
.produk{
    width:145px;
    height:200px;
    border: 3px solid #EEE;
    float:left;
    margin:3px;
    padding:1px;
    
}
#article{
    border: 3px solid #EEE;
    width: 100%;
    padding: 5px;
    float:left;
    margin-top: 5px;
}
#latest{
    border: 3px solid #EEE;
    width: 100%;
    padding: 5px;
    text-align: center;
    float:left;
    margin-top:5px;
    margin-bottom:5px;
    font-weight:bold;
}
.art-post{
     border-bottom: 3px dotted #555;
     padding: 5px;
     float:left;
     margin: 5px;
}
input.blue{
    color:white;
}

.teks{
    border: 3px solid #DDD;
    
}
.para{
    margin: 0px;
}

.details{
    float: right;
    margin-right:10px;
    text-decoration: none;
    color:white;
    width: 50px;
    height: 20px;
    font-weight: bold;
    padding-left:10px;
    padding-right:10px;
    border: 1px solid #DDD;
    text-align:center;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6beded), color-stop(1, #4bb3b5) );
	background:-moz-linear-gradient( center top, #6beded 5%, #4bb3b5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6beded', endColorstr='#4bb3b5');
	background-color:#6beded;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
}

.details:hover{
    color:black;
}

#view_all{
    float: right;
    text-decoration: none;
    color:white;
    width: 130px;
    height: 20px;
    padding-left:10px;
    padding-right:10px;
    text-align:center;
    border: 1px solid #DDD;
    font-weight: bold;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6beded), color-stop(1, #4bb3b5) );
	background:-moz-linear-gradient( center top, #6beded 5%, #4bb3b5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6beded', endColorstr='#4bb3b5');
	background-color:#6beded;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
}
#view_all:hover{
    color:black;
}

.form1{
    margin-bottom:5px;
}
.title-left{
    border: 3px solid #EEE; text-align: center;
    
}

.button1 {
    border: 2px solid #DDD;
    font: 11pt Arial;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	//text-indent:0;
	
	//display:inline-block;
	//font-family:arial;
	font-size:11px;
	font-weight:bold;
	font-style:normal;
	
	line-height:50px;
	
	text-decoration:none;
	text-align:center;
}
.button1:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.button1:active {
	position:relative;
	top:1px;
}

#bottom-menu{
    list-style-type:none;
    margin:0;
    padding:0;
    text-align:center;
}
ul#bottom-menu a{
    display:block;
    width:185px;
    height: 15px;
    line-height:15px;
    text-decoration: none;
    color:white;
    font-weight:bold;
}
li.left{
    border-right: 1px solid black;
}
ul#bottom-menu a:hover{
    color:#00ccee;
}
ul#bottom-menu li{
    display:inline;
    float:left;
}
.lang{
    color:white;
}
#frm-menu{
    float:left;
}
#isi-search{
    margin-right: 30px;
}
#isi-about{
    text-align: justify;
}