body {
  text-align: center;
}

.kotak {
  text-align: left;
  background: #eee;
  margin-bottom: 20px;
}
.clear{
    clear:both;
}
article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }

.container_12{
    text-align: left;
}

.header{
    border: 1px solid black;
    margin-top:10px;
    margin-bottom:30px;
    border-radius: 10px;
}
.header h2{
    margin:0;
}
#navigation{
    text-align:right;
    padding:10px;
    padding-top:135px;
    font-size:25px;
    font-weight:bold;
}
#navigation a{
    text-decoration:none;
    color:black;
    
}
#navigation a.left{
    border-right: 3px solid black;
    padding-right:5px;
}
#navigation a:visited{
    color:black;
}
#navigation a:hover{
    color:red;
}
.berita{
    padding:10px;
}
.judul{
    font-size: 2.2em; 
    margin:0;
}
.tanggal{
    font-size: 1em; 
    font-weight:bold;
    font-style: italic;
}
.left-content article p{
    float:left;
    text-align:left;
    margin:0;
}
.pic1{
    width:120px;
    height: 100px;
    float: left;
    margin: 0 10px 0 0 ;
}
.read{
    width:100%;
    text-align:right;
    float:right;
    padding:5px 0;
    background:black;
    color:white;
    margin-bottom: 5px;
}
.read a{
    text-decoration:none;
    color:gray;
    margin-right:10px;
}
.read a:visited{
    color:gray;
}
.read a:hover{
    text-decoration:underline;
}
.newest h5{
    border-bottom:2px solid black;
    margin:0;
    padding:5px 0;
}
.judul2{
    font-size: 2em;
    margin:0;
}
.tanggal2{
    font-size: .8em; 
    font-weight:bold;
    font-style: italic;
    margin:0;
}
.newest div{
    padding:5px 0;
}
#gambar{
    width:300px;
    height:225px;
    margin:auto;
    margin-bottom: 10px;
}
.mid{
    border-bottom:2px solid black;
}
.new-event{
    margin:0;
    font-size:17px;
}
.event{
    border-top:2px solid black;
    padding-top:20px;
    padding: 10px 0;
}
.pic2{
    width:100px;
    height: 100px;
    float: left;
    margin: 0 5px 0 0;
}
.judul3{
    font-size: 2em;
    margin:0;
}
.tanggal3{
    font-size: .8em; 
    font-weight:bold;
    font-style: italic;
    margin:0;
}
.event section p{
    margin:0;
}
.event footer{
    text-align:right;
}
.event footer a{
    color:#DDD;
    text-decoration:none;
}
.event footer a:visited{
    color:#DDD;
}
.event footer a:hover{
    text-decoration:underline;
    color:red;
}
footer.footer{
    padding:5px 0;
    padding-bottom:20px;
    font-size:13px;
}
footer.footer div.grid_4 span{
    text-align: right;
    float: right;
}
footer.footer a{
    text-decoration: none;
    color: black;
}
footer.footer a:visited{
    color: black;
}
footer.footer a:hover{
    text-decoration: underline;
    color: red;
}